body.dark {
  background-image: url(../images/bg-desktop-dark.jpg);
  background-color: var(--body-background-dark);
}

.wrapper.dark {
  background-color: var(--background-wrapper-dark);
}

.todos__item.dark {
  background-color: var(--background-wrapper-dark);
}
